.customControlsDiv
{
    position: absolute;
    top: 0px;
    right: 0px;
}

.controlsArea
{
    padding: 5px;
    width: 580;
    position: relative;
}
input {
    font-family: VT323;
    color: #008000;
}
button {
    font-size: 16px;
    font-family: VT323;
    color: #008000;
    background-color: #000d00;
    border: 1px solid #008000;
    border-radius: 5px;
    padding: 2.5px 5px;
}
input[type="checkbox"] {
    display: inline-block;
    vertical-align: text-top;
    cursor: pointer;
    appearance: none;
    border: 2px solid #008000;
    background-color: #000d00;
    width: 1em;
    height: 1em;
}
input[type="range"] {
    margin-top: .5em;
    margin-bottom: .5em;
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: .25em;
    background-color: #008000;
    accent-color: #008000;
}
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    webkit-appearance: none;
    width: 10px;
    height: 10px;
    background-color: #008000;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    webkit-appearance: none;
    width: 10px;
    height: 10px;
    background-color: #008000;
    cursor: pointer;
}
input[type="checkbox"]:checked {
    background-color: #008000;
}
input[type="radio"] {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid #008000;
    width: 1em;
    height: 1em;
    background-color: #000d00;
}
input[type="radio"]:checked {
    background-color: #008000;
}
input[type="number"], input[type="text"] {
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid #008000;
    background-color: #000d00;
}
.yellowCheckbox {
    border: 2px solid #ffff00 !important;
}
.yellowCheckbox:checked {
    background-color: #ffff00 !important;
}
.cyanCheckbox {
    border: 2px solid #00ffff !important;
}
.cyanCheckbox:checked {
    background-color: #00ffff !important;
}
.blueCheckbox {
    border: 2px solid #0000ff !important;
}
.blueCheckbox:checked {
    background-color: #0000ff !important;
}
.orangeCheckbox {
    border: 2px solid #ffa500 !important;
}
.orangeCheckbox:checked {
    background-color: #ffa500 !important;
}
.greenCheckbox {
    border: 2px solid #00ff00 !important;
}
.greenCheckbox:checked {
    background-color: #00ff00 !important;
}
.redCheckbox {
    border: 2px solid #ff0000 !important;
}
.redCheckbox:checked {
    background-color: #ff0000 !important;
}
.purpleCheckbox {
    border: 2px solid #ff00ff !important;
}
.purpleCheckbox:checked {
    background-color: #ff00ff !important;
}
.controlsUnit
{
    margin: 10px 5px;
    font-size: 16px;
    font-family: VT323;
    color: #008000;
    background-color: #000d00;
    border: 1px solid #008000;
    border-radius: 5px;
    padding: 5px 10px;
    width: 200px;
}

.controlsUnit:hover, button:hover
{
    cursor: pointer;
    background-color: #008000;
    color: #000d00;
}

.controlsUnitPending
{
    cursor: pointer;
    background-color: #008000;
    color: #000d00;
    font-weight: bold;
}

.enableCustomDiv
{
    margin: 10px 5px;
    font-size: 16px;
    font-family: VT323;
    color: #008000;
    background-color: #000d00;
    border: 1px solid #008000;
    border-radius: 5px;
    padding: 5px 10px;
    width: 300px;
    height: 245px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.controlsValue
{
    float: right;
}

.noDisplay
{
    display: none;
}

.withDisplay
{
    display: inline;
}

.autoRepeatDiv
{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.thresholdDiv
{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 150px;
}

.autoRepeatArea
{
    margin: 10px 5px;
    font-size: 16px;
    font-family: VT323;
    color: #008000;
    background-color: #000d00;
    border: 1px solid #008000;
    border-radius: 5px;
    padding: 5px 10px;
    width: 560px;
    height: 50px;
    position: absolute;
    top: 265px;
    left: 0px;
}
.cheatsArea {
    margin: 10px 5px;
    font-size: 16px;
    font-family: VT323;
    color: #008000;
    background-color: #000d00;
    border: 1px solid #008000;
    border-radius: 5px;
    padding: 5px 10px;
    width: 560px;
    position: absolute;
    top: 335px;
    left: 0px;
    max-height: 327px;
    overflow: auto;
}
.autoRepeatForm
{
    width: 350px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}